.chatWrapper{
  padding: 60px 0;
  display: flex;
  gap: 40px;

}
.chatListWrapper{
  border: 1px solid rgb(229, 237, 242);
  border-radius: 8px;
  box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  width: 272px;
}

.searchChats{
  padding: 44px 24px;
  border-radius: 8px;
  background: rgb(2, 160, 160);
  display: flex;
  align-items: center;
}

.searchInput{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 13px 16px;
  border-radius: 90px;

  & > input {
    font-size: 12px;
    width: 100%;
    outline: none;
  }
}

.chatsList{
  white-space: nowrap;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}

.chatPersonName{
  padding: 8px;
  font-weight: 400;
}

.chatPerson{
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 12px 16px;
  transition: all .3s;
  &:hover{
    background: rgb(232, 234, 238);
    border-radius: 8px;
  }
}
.userRight{
  text-align: right;
  width: 100%;
  justify-content: right;
  display: flex;

  & > p{
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: #219dea;
    max-width: 340px;
    word-wrap: break-word; /* для старых браузеров */
    color: white;
  }
}
.userLeft{
  text-align: left;
  justify-content: left;
  display: flex;

  & > p{
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;
    border-radius: 1.125rem 1.125rem 1.125rem  0;
    max-width: 340px;
    background: rgba(94, 224, 159, 0.73);
    color: white;
    word-wrap: break-word; /* для старых браузеров */
  }
}
.chatPersonImage{
  border-radius: 50%;
}

.chatMessages{
  display: flex;
  height: 1032px;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(229, 237, 242);
  border-radius: 8px;
  box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.chatPersonLabel{
  padding: 20px;
  color: white;
  border-radius: 8px;
  background: rgb(0, 159, 217);
  display: flex;
  align-items: center;
}

.messages {
  margin-top: 16px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 auto;
  overflow: auto;
}

.chatSendLabel{
  border: 1px solid rgb(229, 237, 242);
  background: rgb(245, 247, 251);
  padding: 24px;
  border-radius: 0 0 8px 8px;
  display: flex;
  gap: 8px;
  align-items: center;

  & > input{
    width: 100%;
    font-size: 20px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 999px;
    background: rgb(255, 255, 255);
    padding: 16px 32px;
    outline: none;
  }
}

.sendMessageButton{
  width: 30px;
  height: 30px;
}