.body {
  padding-top: 80px;
  padding-bottom: 105px;
}

.title {
  color: #000;
  font-size: 40px;
  font-weight: 500;
}

.path {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #898989;
    left: 90px;
  }

  span {
    color: #898989;
    font-size: 24px;
    font-weight: 500;
  }
}

.block_title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
  font-size: 25px;
  font-weight: 500;
}
.blocks {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.block {
  padding-top: 20px;
  width: 285px;
  height: 285px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  transition: all 0.3s ease;

  img {
    max-width: 240px;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &:hover {
    background-color: #ededed;
  }
}

.block_count {
  color: #898989;
  font-size: 22px;
  font-weight: 500;
}


