.body{
  background-color: #EEF1F5;
  padding: 140px 0;

}
.submitPaymentButton{
  background-color: #02A0A0;
  color: white;
  font-weight: 600;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  padding: 20px 0;
  border: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;

  transition: all .3s ease;

  &:hover{
    background-color: #03b7b7;
  }
}
.routePath{
  display: flex;
  gap: 30px;
  position: relative;

  color: rgb(0, 0, 0);
  font-size: 21.71px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;

  margin-bottom: 60px;

  &::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #B8B8B8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
  }
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.paymentForm{
  max-width: 590px;
  display: flex;
  flex-direction: column;
}

h1{
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: left;
}
.formInput{
  display: flex;

  flex-direction: column;
  gap: 6px;

  & > input{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(217, 217, 217);
    background: rgb(255, 255, 255);
  }

  & > textarea{
    resize: none;
    height: 100px;
    padding: 10px 20px;
    border: 1px solid rgb(217, 217, 217);
    background: rgb(255, 255, 255);
  }
}
.form{
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > label{
    display: flex;
  }

  & > div{
    display: flex;
    gap: 20px;
  }
}

h3{
  color: rgb(0, 0, 0);
  font-size: 34.63px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.paymentElement{
  margin: 100px auto;
  max-width: 500px;
}

.checkoutButton{
  margin-top: 100px;
  width: 100%;
  background-color: rgb(2, 160, 160);;
  padding: 10px 0;
  color: white;
}

.yourOrderBlock{
  background-color: white;
  width: 465px;
  padding: 25px 50px;

  & > h2{
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
  }
}

.itemName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;

  & > span{
    color: rgb(0, 0, 0);
    font-size: 15.29px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
  }

  &::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B8B8B8;
    position: absolute;
    bottom: -12px;
    left: 0;
  }
}

.itemList{
  position: relative;

  &::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B8B8B8;
    position: absolute;
    bottom: -12px;
    left: 0;
  }
}

.shippingCost{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shippingCostDelivery{
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > span > input{
    margin-left: 10px;
  }
}

.orderTotal{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B8B8B8;
    position: absolute;
    top: -12px;
    left: 0;
  }
}

.notFoundLabel{
  margin-bottom: 30px;
}
