.body {
  h1 {
    margin-top: 40px;
    margin-bottom: 5px;
    color: #010f1c;
    font-size: 44px;
    font-weight: 700;
    line-height: 100%;
  }
}

.path {
  display: flex;
  gap: 13px;
  position: relative;
  span {
    color: #55585b;
    text-align: center;
    line-height: 162.5%; /*  */
  }

  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 54px;
    transform: translate(-50%, -50%);
    background-color: #a8acb0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
  }
}

.content {
  height: 640px;
  background-color: #f3f3f3;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: #010f1c;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
  }

  .link {
    padding: 10px 30px;
    color: #fff;
    background-color: #010f1c;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
  }
}
