.advantages {
  background-color: #484848;
  padding: 3rem 0;

  &__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__item {
    width: 18.75rem;
    background: #202020;
    padding: 1.875rem 0rem 1.5625rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__item:first-child {
    border-radius: 8px 0px 0px 8px;
  }

  &__item:last-child {
    border-radius: 0px 8px 8px 0px;
  }

  &__title {
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    line-height: 120%;
  }

  &__desc {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 185.714%;
  }
}
