.featured {
  margin-bottom: 7.875rem;
}

.featured__container {
  padding: 0rem 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.featured__label-text {
  color: #02a0a0;
  font-weight: 600;
  line-height: 125%;
  position: relative;
  padding-left: 1.875rem;
}

.featured__label-text::before {
  content: "";
  border-radius: 0.3125rem;
  position: absolute;
  top: -0.625rem;
  left: 0;
  width: 1.25rem;
  height: 2.5rem;
  background-color: rgb(2, 160, 160);
}

.featured__title {
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: 1.44px;
}

.featured__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.no-webp .featured__block-1 {
  background-image: url("../img/new-arrival/img1.jpg");
}

.featured__block-1 {
  width: 35.625rem;
  height: 37.5rem;
  border-radius: 4px;
}

.no-webp .featured__block-2 {
  background-image: url("../img/new-arrival/img2.jpg");
}

.featured__block-2 {
  width: 35.625rem;
  height: 17.75rem;
  border-radius: 4px;
  margin-bottom: 1.875rem;
}

.no-webp .featured__block-4 {
  background-image: url("../img/new-arrival/img4.jpg");
}

.featured__block-4 {
  width: 16.875rem;
  height: 17.75rem;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.no-webp .featured__block-3 {
  background-image: url("../img/new-arrival/img3.jpg");
}

.featured__block-3 {
  width: 16.875rem;
  height: 17.75rem;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.featured__column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.block-1__text {
  max-width: 15.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.block-1__items-title {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.72px;
}

.block-1__items-desc {
  color: var(--Text, #fafafa);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 150%;
  /*  */
}

.block-1__items-button {
  color: #fff;
  width: 39%;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}

.block-1__items-button::after {
  content: "";
  bottom: -0.3125rem;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.5960784314);
}

.block-2__text {
  max-width: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.block-2__items-title {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.72px;
}

.block-2__items-desc {
  color: var(--Text, #fafafa);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 150%;
  /*  */
}

.block-2__items-button {
  color: #fff;
  width: 39%;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}

.block-2__items-button::after {
  content: "";
  bottom: -0.3125rem;
  left: 0;
  position: absolute;
  width: 80%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.5960784314);
}

.block-4__text {
  max-width: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.block-4__items-title {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.72px;
}

.block-4__items-desc {
  color: var(--Text, #fafafa);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 150%;
  /*  */
}

.block-4__items-button {
  color: #fff;
  width: 39%;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}

.block-4__items-button::after {
  content: "";
  bottom: -0.3125rem;
  left: 0;
  position: absolute;
  width: 80%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.5960784314);
}

.block-3__text {
  max-width: 18.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.block-3__items-title {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.72px;
}

.block-3__items-desc {
  color: var(--Text, #fafafa);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  line-height: 150%;
  /*  */
}

.block-3__items-button {
  color: #fff;
  width: 39%;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}

.block-3__items-button::after {
  content: "";
  bottom: -0.3125rem;
  left: 0;
  position: absolute;
  width: 80%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.5960784314);
}

.webp .featured__block-1 {
  background-image: url(../img/new-arrival/img1.webp);
}

.webp .featured__block-2 {
  background-image: url(../img/new-arrival/img2.webp);
}

.webp .featured__block-4 {
  background-image: url(../img/new-arrival/img4.webp);
}

.webp .featured__block-3 {
  background-image: url(../img/new-arrival/img3.webp);
}

.webp .featured__block-1 {
  background-image: url(../img/new-arrival/img1.webp);
}
