.no-webp .super-discount__container {
  background-image: url("../img/super-discount-bg.png");
}
.super-discount {
  &__container {
    padding: 2rem 2rem;
    margin-bottom: 7.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.3125rem;
  }

  &__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.1875rem;
  }

  &__title {
    font-family: Inter;
    font-size: 25.2px;
    font-weight: 600;
    line-height: 133.333%;
    letter-spacing: -0.21px;
  }

  &__desc {
    color: rgba(33, 33, 33, 0.6705882353);
    font-family: Inter;
    font-size: 16.8px;
  }

  &__button {
    padding: 0.6875rem 1.5rem;
    color: #fff;
    font-weight: 500;
    border-radius: 6.3px;
    background-color: #1e1e1e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.webp .super-discount__container {
  background-image: url(../img/super-discount-bg.webp);
}

.super-discount__button:hover {
  background-color: #3b3b3b;
}
