.content {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 350px;
  align-items: center;
  justify-content: center;
}

.routings {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 53px;
  display: flex;
  gap: 45px;
}

.routing {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #747474;
  position: relative;
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      right: -25px;
      top: 25%;
      background-image: url("../../../src/assets/images/RentingCategory/Vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 10px;
      height: 15px;
    }
  }
}

.number {
  padding: 8px 12px 8px 12px;
  border-radius: 50%;
  color: white;
}

.content {
  position: relative;
  padding: 20px 100px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.close_button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.title {
  white-space: nowrap;
  text-align: center;
  color: #686868;
  font-size: 30px;
  font-weight: 500;
  line-height: 133.333%;
}
.actions {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
