.content {
  height: 640px;
  background-color: #f3f3f3;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: #010f1c;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
  }

  .link {
    padding: 10px 30px;
    color: #fff;
    background-color: #010f1c;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
  }
}
