.body {
  padding: 65px;
}
.title {
  color: #000;
  font-size: 32.854px;
  font-weight: 700;
  margin-bottom: 40px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.block {
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  align-items: center;
  padding: 35px;
  width: 240px;
  gap: 25px;
  transition: all 0.3s ease;
  img {
    width: 65px;
    height: 65px;
  }
  &:hover {
    background-color: #f4f4f4e3;
  }
}
