.body {
  padding: 68px 0 176px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 56px;
}
.blocks {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  height: 100%;

  gap: 40px;
}
.block {
  height: 541px;
  min-width: 308px;
  padding: 20px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(178, 178, 178, 0.25);
  flex-direction: column;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.block_img {
  margin-bottom: 11px;
}
.block_title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.block_text {
  color: #000;
  font-size: 14px;
  text-align: center;
  max-width: 203px;
  margin-bottom: 22px;
  line-height: normal;
}
.block_price {
  color: #000;
  font-size: 24.381px;
}
.block_price_desc {
  color: #000;
  font-size: 14px;
  margin-bottom: 18px;
}
.block_advantages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 auto;
  margin-bottom: 17px;
}
.block_advantage {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
  }
}
.block_button {
  padding: 16px 0;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 16px;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;

  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.reminder {
  color: #000;
  font-size: 10px;
}
.block_popular {
  position: relative;
  padding: 39px 5px 5px 5px;
  border-radius: 36px;
}
.popular {
  top: 13px;
  left: 133px;
  color: #000;
  font-size: 14px;
  position: absolute;
}
