node_modules/
..idea/

# Exclude unnecessary JavaScript files within the "server" folder
/server/**/*.js

# Include the "dist" folder and its contents, including necessary JavaScript files
!dist/
!dist/**
!dist/**/*.js