.title {
  margin: 25px 0;

  font-size: 25.97px;
}
.blocks {
  display: flex;
  gap: 36px;
  margin-bottom: 25px;
}
.block {
  cursor: pointer;
  padding: 10px;
  width: 384px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ecececc4;
  }
}
.block_text {
  display: flex;
  gap: 10px;
  line-height: normal;
  span {
    font-weight: 600;
  }
}
.question_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.question_link {
  color: #ec0000;
  font-size: 25.967px;
  position: relative;
  &::after {
    content: "";
    top: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url("@assets/images/HelpAndSupport/arrow-right.svg");
  }
}
.content_button {
  position: relative;
  color: #fff;
  line-height: normal;
  padding: 20px 50px 20px 100px;
  background-color: #02a0a0;
  margin: 25px 0;
  transition: all 0.3s ease;
  &::after {
    content: "";
    width: 45px;
    height: 30px;
    position: absolute;
    top: 45%;
    left: 12%;
    transform: translate(0, -50%);
    background-image: url("@assets/images/HelpAndSupport/chaticon.png");
    background-repeat: no-repeat;
  }
  &:hover {
    background-color: #06b5b5;
  }
}
.logo {
  width: 300px;
  height: 200px;
}
.contact_content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.contact_us {
  position: relative;
  margin-bottom: 160px;
  &::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -20px;
    left: 0;
  }
}
.contact_sidebar {
  display: flex;
  flex-direction: column;
  > p {
    color: #000;
    font-size: 18.947px;
    font-style: normal;
    line-height: normal;
  }
  span {
    color: #000;
    font-size: 18.947px;
    font-weight: 400;
    line-height: normal;
  }
}
