.header {
  position: relative;
  padding: 40px 0;
}
.header__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__input {
  width: 33.75rem;
  outline: none;
  background-color: var(--Secondary, #f5f5f5);
  border-radius: 5px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__input input {
  background: none;
  padding: 10px 20px;
  width: 100%;
  outline: none;
}

.header__input input::-webkit-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.header__input input::-moz-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.header__input input:-ms-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.header__input input::-ms-input-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.header__input input::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.header__input input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__input input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__input input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__input input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__input input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__search-btn {
  background-image: url("@assets/images/HomePage/header/search-icon.svg");
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
}

.header__button-lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  user-select: none;
}
.header__language-modal {
  padding: 10px;
  content: "";
  font-size: 18px;
  position: absolute;
  top: 25px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  z-index: 10;
}
.header__language-modal-elem:hover {
  color: red;
}
