.choosingColor{
  & > span{
    font-weight: 600;
  }

  & > div{
    margin-top: 10px;
    align-items: center;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
  }
}

.choosingColorItem{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.choosingColorItem_active{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;

  &::after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    display: block;
  }
}


.addingColor{
  border: 2px solid #808080;
  border-radius: 50%;
  color: #808080;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}