.label {
  position: relative;
  border-top: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 19px 0;
}

.label__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.label__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.72px;
}

.label__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.label__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.label__link {
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &_active {
    color: red;
    font-weight: 700;
  }
}

.label__link:hover {
  color: rgba(255, 88, 88, 0.7411764706);
}

.label__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.label__profile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.label__profile-btn span {
  color: #000;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 112.5%;
  position: absolute;
  left: 120%;
  text-wrap: nowrap;
}
.label__trash-btn {
  position: relative;
}
.label__cart-count {
  padding: 5px;
  border-radius: 50%;
  background-color: #2283dc;
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -40%;
  left: 50%;
}
