.body {
  padding: 100px 0 165px 0;
  display: flex;
  gap: 50px;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box_name {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
.button {
  color: white;
  text-align: right;
  justify-content: flex-end;
  button {
    padding: 10px 20px;
    background-color: #02a0a0;
  }
}
.sendbutton {
  position: absolute;
  top: 38px;
  right: 150px;
  padding: 3px 10px;
  background-color: #02a0a0;
  border-radius: 6px;
}
.title_action {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  margin-bottom: 28px;
  button {
    padding: 3px 16px;
    background-color: #02a0a0;
    border-radius: 5px;
  }
}
.address_content {
  overflow-y: auto;
  height: 461px;
  width: 625px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.address_box {
  padding: 30px;
  display: flex;
  gap: 20px;
  max-width: 600px;
  flex-wrap: wrap;
}
.address {
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  width: 260px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: start;

  button {
    color: #0989ff;
  }
}
.address_text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input {
  border: 1px solid #252525;
  background: #fff;
  padding: 16px 10px;
  height: 60px;
  outline: none;
  flex: 1 1 auto;
}
.inputs_column {
  display: flex;
  gap: 10px;
}
.box_inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
}
.button_item {
  padding: 20px 0;
  padding-left: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #f3f8ff;
    color: #0989ff;
  }
}
.button_item_active {
  padding: 20px 0;
  padding-left: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
  color: #0989ff;
  background-color: #f3f8ff;
  &:hover {
    background-color: #f3f8ff;
    color: #0989ff;
  }
}
.sidebar {
  width: 360px;
  height: 525px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title {
  color: #353535;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
}
.content {
  flex: 1 1 auto;
}
.content_box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 525px;
  padding: 36px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.box_name {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
