.companies {
  margin-bottom: 3.4375rem;

  &__container {
    padding: 1.875rem 0rem;
  }

  &__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.75rem;
  }

  &__item {
    border-radius: 23px;
    min-width: 200px;
    min-height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
  }
}
