.saved {
  &__container {
    padding: 0;
  }

  &__content {
    margin-bottom: 10rem;
    border: 1px solid rgba(128, 128, 128, 0.424);
    border-radius: 0.375rem;
    padding: 1.25rem;
  }

  &__title {
    color: var(--dark, #1c1c1c);
    font-family: Inter;
    font-size: 21.017px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.21px;
    margin-bottom: 1.0625rem;
  }

  &__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__image {
    background-color: #eee;
    border-radius: 6.305px;
    width: 17rem;
    height: 16.25rem;
    background-size: cover;
    background-position: 100% 70%;
    margin-bottom: 0.75rem;
  }

  &__price {
    font-size: 18.915px;
    font-weight: 600;
  }

  &__desc {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: var(--base-color-gray-800, #606060);
    font-size: 16.814px;
    line-height: 150%;
    /*  */
    letter-spacing: -0.21px;
    max-width: 14.125rem;
  }

  &__button {
    padding: 0.625rem 0rem;
    width: 10.3125rem;
    border-radius: 0.375rem;
    border: 1.051px solid var(--gray-300, #dee2e7);
    color: #2283dc;
    font-family: Inter;
    font-size: 16.814px;
    font-weight: 500;
    padding-left: 1.25rem;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &__button::before {
    content: "";
    position: absolute;
    background-image: url("/public/HomePage/saved/shopping_cart.svg");
    width: 1.25rem;
    height: 1.25rem;
    top: 0.5rem;
    background-size: cover;
    left: 0.5rem;
  }

  &__button:hover {
    background-color: rgba(238, 238, 238, 0.6745098039);
  }
}
