.shop-now {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  border-radius: 4px;
  background: var(--Text2, #000);
}

.shop-now__container {
  padding: 0;
  height: 29.875rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop-now__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shop-now__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.875rem;
  color: var(--Text, #fafafa);
  font-size: 1.375rem;
  line-height: 150%;
}

.shop-now__info img {
  width: 3.4375rem;
  height: 100%;
}

.shop-now__description {
  margin-top: 0.625rem;
}

.shop-now__title {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 4.1875rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.1625rem;
  max-width: 28.75rem;
  margin: 1.875rem 0rem;
}

.shop-now__button {
  color: var(--Text, #fafafa);
  font-size: 1.375rem;
  line-height: 150%;
  position: relative;
  width: 7rem;
}

.shop-now__button::after {
  content: "";
  position: absolute;
  top: 0;
  -webkit-transform: translate(130%, 0);
  -ms-transform: translate(130%, 0);
  transform: translate(130%, 0);
  right: 0;
  background-image: url("../img/arrow-right.svg");
  width: 1.875rem;
  height: 1.875rem;
}

.shop-now__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: -10px;
  left: 0;
  background-color: #fafafa;
}

.shop-now__image {
  -webkit-transform: translate(0, 5%);
  -ms-transform: translate(0, 5%);
  transform: translate(0, 5%);
}
