.body {
  max-width: 1080px;
  padding-top: 46px;
  padding-bottom: 50px;
}

.desc {
  color: #000;
  font-size: 18px;
  line-height: 175%;
  margin-bottom: 20px;
}

.title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.text_container {
  line-height: 150%;
}
.text{
  margin-top: 20px;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;

  li {
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      top: 10px;
      left: 0;
      border-radius: 50%;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #000;
    }
  }
}
