.body{
  padding-bottom: 90px;

  & > div > h1{
    font-size: 36px;
    font-weight: 500;

    & > span{
      color: rgb(2, 160, 160);
    }
  }
}
.content{
  display: flex;
  justify-content: space-between;
}
.title{
  margin: 70px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;

  & > button{
    color: rgb(0, 47, 52);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;

    text-transform: uppercase;

  }
}
.productInfo{
  max-width: 640px;
}
.imagesList{
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > img{
    max-width: 640px;
  }
}

.bottomImages{
  display: flex;
  gap: 20px;

  & > img{
    width: 92px;
    height: 92px;
    object-fit: cover;
  }
}

.productMainInfo{
  margin-top: 50px;
}

.productTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div > h2{
    color: rgb(0, 0, 0);
    font-size: 32.58px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
  }

  & > div > div{
    display: flex;
    gap: 30px;
    align-items: center;

    & > span{
      color: rgb(84, 84, 84);
      font-size: 18.29px;
      line-height: 24.38px;
      text-decoration-line: line-through;
    }

    & > span:last-child{
      text-decoration-line: none;
      position: relative;

      &::after{
        content: "";
        top: 50%;
        left: 0;
        transform: translate(-20px, -50%);
        width: 10px;
        height: 10px;
        background-color: #8B8B8B;
        border-radius: 50%;
        position: absolute;
      }
    }

    & > span:first-child{
      color: rgb(15, 15, 15);
      font-size: 18.29px;
      font-weight: 700;
      line-height: 24.38px;
      text-decoration-line: none;
    }
  }

  & > button{
    box-sizing: border-box;
    border: 2.17px solid rgb(211, 212, 213);
    border-radius: 4.34px;
    background: rgb(255, 255, 255);

    color: rgb(103, 109, 115);
    font-size: 15.2px;
    font-weight: 900;
    line-height: 21.72px;

    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    padding: 0 20px;
    height: 44px;
    display: flex;
  }
}

.productInfoActionButtons{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
  background-color: #E7E7E7;
  padding: 10px 0;

  & > button{
    color: rgb(47, 48, 51);
    font-size: 19.11px;
    font-weight: 500;
    line-height: 23.09px;
    text-align: left;
  }
}

.whatThisPlaceOffers{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(247, 247, 247);

  & > h3{
    color: rgb(34, 34, 34);
    font-size: 26.31px;
    font-weight: 600;
    line-height: 31.09px;
    text-align: left;
  }
}

.offers{
  display: flex;
  gap: 20px;
  flex-direction: column;

  & > div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.alertMessages{
  border: 1px solid #DDDDDD;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  & > div:first-child{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(255, 231, 229);
    padding: 20px;

    & > div{
      display: flex;
      flex-direction: column;

      color: rgb(51, 51, 51);
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;

      & > span:last-child{
        display: flex;
        gap: 5px;
      }

      & > span:last-child > p{
        font-weight: 600;
      }
    }

    & > div > span:first-child{
      color: #EC2A10;
    }
  }

  & > div{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(236, 253, 241);
    padding: 20px;

    & > div{
      display: flex;
      flex-direction: column;

      color: rgb(51, 51, 51);
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
    }

    & > div > span:first-child{
      display: flex;
      gap: 5px;
      color: rgb(0, 124, 0);

      & > p{
        font-weight: 600;
      }
    }
  }

  & > div:last-child{
    display: flex;
    gap: 10px;
    background-color: rgb(236, 253, 241);
    padding: 20px;

    & > div{
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: rgb(51, 51, 51);
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;

      & > span:first-child{
        font-weight: 700;
      }
    }

    & > div > span:first-child{
      color: rgb(0, 124, 0);
    }
  }
}

.relatedServices{
  display: flex;
  text-align: center;
  flex-direction: column;

  & > h4{
    margin: 50px 0;

    color: rgb(47, 48, 51);
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
  }
}

.relatedItems{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.relatedItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  background-color: #F2F2F2;
  padding: 16px 16px;
  gap: 15px;

  overflow: hidden;
  border-radius: 15px;

  & > span{
    color: rgb(0, 0, 0);
    font-size: 29.66px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
  }
}

.relatedImage{
  border-radius: 15px;
  display: flex;
  height: 245px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.bookBox{
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-sizing: border-box;
  border: 0.89px solid rgb(227, 227, 227);
  border-radius: 11.63px;
  background: rgb(255, 255, 255);
  padding: 16px 30px;

  & > h5{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
  }

  & > span{
    color: rgb(0, 47, 52);
    font-size: 12.85px;
    font-weight: 900;
    line-height: 12.85px;
  }

  & > p{
    color: rgb(0, 47, 52);
    font-size: 10.74px;
    font-weight: 400;
    line-height: 18.79px;
    text-align: left;

    & > span{
      font-weight: 600;
    }
  }

  & > button{
    border-radius: 3.58px;

    background: rgb(0, 47, 52);
    padding: 12px 0;
    color: white;
  }

  & > button:last-child{
    border-radius: 3.58px;

    border: 2px solid rgb(0, 47, 52);
    padding: 12px 0;
    background-color: white;
    font-weight: 600;
    color: rgb(0, 47, 52);
  }
}

.productActions{
  max-width: 400px;
}