.body {
  position: relative;
  justify-content: center;
  display: flex;
}
.content {
  margin-top: 110px;
  width: 600px;
  background: #fff;
  border: 1px solid #e0e2e3;
  box-shadow: 0 30px 70px 0 rgba(1, 15, 28, 0.1);
}

.first_elem {
  position: absolute;

  top: 543px;
  left: 168px;
}

.second_elem {
  position: absolute;
  top: 161px;
  right: 55px;
}

.third_elem {
  position: absolute;
  top: 161px;
  left: 0;
}
